# --- datasets / large files ---
convolutional-neural-network/data/cifar-10-python.tar.gz
convolutional-neural-network/data/cifar-10-batches-py/
convolutional-neural-network/data/*.tar
convolutional-neural-network/data/*.tar.gz
convolutional-neural-network/data/*.zip
convolutional-neural-network/data/*.7z

# (opsiyonel) tüm projede büyük veri / model dosyaları
*.tar
*.tar.gz
*.zip
*.7z
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.pickle
*.npy
*.npz

# --- python ---
__pycache__/
*.pyc
.venv/
venv/
.env

# --- notebooks checkpoints ---
.ipynb_checkpoints/

# --- macOS ---
.DS_Store

.idea/
**/.idea/